# Primary CI workflow for awesome-blogdown.com

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push 
  push:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: write

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@main
        with:
          logger: pretty
          log-directives: nix_installer=trace
          backtrace: full

      - name: Nix cache
        uses: DeterminateSystems/magic-nix-cache-action@main
  
      - name: Build development environment
        run: |
          nix-build
      
      - name: build web site
        run: nix-shell --run "Rscript -e 'blogdown::build_site(build_rmd = TRUE)'"

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          clean: false
          branch: site-deploy
          folder: docs
